<script>
  'use strict';

  (function () {
    var commentContainer = document.querySelector('#giscus-comments');

    if (!commentContainer) {
      return;
    }

    // var script = document.createElement('script');
    // script.setAttribute('src', 'https://giscus.app/client.js');
    // script.setAttribute('data-repo', '{{ site.repository | downcase }}');
    // script.setAttribute('data-repo-id', '{{ site.comments.giscus.repo_id }}');
    // script.setAttribute('data-category', '{{ site.comments.giscus.category_name }}');
    // script.setAttribute('data-category-id', '{{ site.comments.giscus.category_id }}');
    // script.setAttribute('data-mapping', '{{ site.comments.giscus.discussion_term | default: "pathname" }}');
    // script.setAttribute('data-reactions-enabled', '{{ site.comments.giscus.reactions_enabled | default: 1 }}');
    // script.setAttribute('data-theme', '{{ site.comments.giscus.theme | default: "light" }}');
    // script.setAttribute('crossorigin', 'anonymous');

  var script = document.createElement('script');
  script.setAttribute('src', 'https://giscus.app/client.js');
  script.setAttribute('data-repo', 'laegel123/laegel123.github.io');
  script.setAttribute('data-repo-id', 'R_kgDOKw5iTQ');
  script.setAttribute('data-category', 'Announcements');
  script.setAttribute('data-category-id', 'DIC_kwDOKw5iTc4CcnXj');
  script.setAttribute('data-mapping', 'pathname');
  script.setAttribute('data-reactions-enabled', '1');
  script.setAttribute('data-theme', 'light');
  script.setAttribute('crossorigin', 'anonymous');

      console.log("asd > ", script);
    commentContainer.appendChild(script);
  })();
</script>
